/* CSS Document */
*{margin:0px;padding: 0px;border: 0px;}
body{background-color:brown}
        h1 {background-color:red;color:blue;text-align: center;text-transform: uppercase;font-family:cambria, Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'}
   

a{display:block;color:black;float:left;font-family: time new cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";text-decoration: none;padding: 5px}

a:hover {color:darkgoldenrod}
ul li{display: inline;}
ul li{font-size:24px;}
a {text-decoration:none;}
img float


